.email-password-login-container {
  max-width: 500px; /* Increased width */
  margin: 0 auto;
  padding: 40px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 600px; /* Set a minimum height to prevent shrinking */
}

.email-password-login-form {
  display: flex;
  flex-direction: column;
}

.email-password-login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.email-password-login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.email-password-login-input:focus {
  border-color: violet;
  outline: none;
}

.password-container {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px; 
}

.toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
}

.toggle-button:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.tooltip-icon {
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
}

.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}