html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  background-color: #f9f9f9;
  overflow: hidden; 
}

.personalform-wrapper,
.form-wrapper {
  width: 600px;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden; 
}